@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom:60px;
  padding-top:40px;
  overflow-y:hidden;
}

.header{
	background-color: whitesmoke;
	position: absolute;
	top: 0;
	height: 40px;
	width: 100%;
}

p{
	font-size: 27px;
	margin-left: 30px;
	font-family: 'Source Sans Pro';
}

textarea {
	width: 100%;
	min-height: 150px;
	max-height: 500px;
	resize: vertical;
}

.legend-div div{
	width: auto;
	height: 1px;
}

.chart-div svg {
	order: 0;
	margin:5px;
}

.legend-div{
	order: 1;
	
}

.button-div{
	background-color: whitesmoke;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 60px;
	width:100%;
}

.button{
	margin-top: 14px;
	margin-left:2%;
}

.chart-div{
	height: 100%;
	min-height: 100px;
	position: absolute;
	display: flex;
	flex-direction:row;
	margin-top:2%;
	margin-bottom:60px;
	margin-left:2%;
	overflow:auto;
}
